<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie</title>
</head>

<body>
  <main>
    <ul>
      <li key=<%=idMovies %> className="card">
        <img className="card__img" src=<%=image %> alt='Carátula de <%= title %>'' />
          <h3 className="card__title">
            <%= name %>
          </h3>
          <p className="card__description">Género: <%= genre %>
          </p>
    </ul>
  </main>
</body>

</html>